
<!-- Carousel -->
<carousel>
    <slide>
        <img src="assets/images/slide-1.jpg" alt="first slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
    </slide>
    <slide>
        <img src="assets/images/slide-2.jpg" alt="second slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
                <h3>Second slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
    </slide>
    <slide>
        <img src="assets/images/slide-3.jpg" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
                <h3>Third slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
    </slide>
</carousel>

<div class="jumbotron">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">This is a simple hero unit built in our angular training.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-secondary btn-lg" routerLink="/users" role="button">Ver usuarios</a>
    </p>
</div>